{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true },
	"plugins": ["@typescript-eslint"],
	"extends": ["eslint-config-codely/typescript"],
	"parserOptions": {
		"project": ["./tsconfig.json"],
		"sourceType": "module"
	},
	"ignorePatterns": ["version-bump.mjs", "esbuild.config.mjs"],
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-empty-function": "off",
		"import/no-unresolved": ["error", { "ignore": ["obsidian"] }],
		"new-cap": "off"
	}
}
